@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  --greyish-bg: #eff2f5;
}
.blue-box {
  background: linear-gradient(81.62deg, #2870ea 8.72%, #1b4aef 85.01%);
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(81.62deg, #2870ea 8.72%, #1b4aef 85.01%);
  /* For Mozilla Firefox */
  background: -moz-linear-gradient(81.62deg, #2870ea 8.72%, #1b4aef 85.01%);
}
/* .blue-box{
    background-color: #2870ea;
} */

.shadow-box {
  box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.15);
}
